<header class="post-header">
  <h1><%= link_to post.title, post.full_url %></h1>
  <div class="posted">
    <span data-monologue="time">
      <time datetime="<%= post.published_at %>">
        <%= I18n.localize(post.published_at.to_date, format: :long) %>
      </time>
    </span>
    <span data-monologue="user">
      <%= post.user.name %>
    </span>
    <%= disqus_comments_count_for(post.full_url) %>
  </div>
</header>