<header class="revision-header">
  <h1><%= link_to revision.title, revision.full_url %></h1>
  <div class="posted">
    <span data-monologue="time">
      <time datetime="<%= revision.published_at %>">
        <%= I18n.localize(revision.published_at.to_date, :format => :long) %>
      </time>
    </span>
    <span data-monologue="user">
      <%= revision.user.name %>
    </span>
    <span data-monologue="disqus">
      <a href="<%= revision.full_url + "#disqus_thread" %>"></a>
    </span>
  </div>
</header>