<div class="monologue-social-sharing" data-monologue="monologue-social-sharing">
  <span class="social-tagline"><%= t('.tagline') %></span>
  <ul id="social-share">
    <li id="google-plus">
      <%= render :partial => 'monologue/posts/social/pinterest' %>
    </li>
    <li id="twitter">
       <%= render :partial => 'monologue/posts/social/twitter' %>
    </li>
    <li id="google-plus">
        <%= render :partial => 'monologue/posts/social/gplus' %>
     </li>
    <li id="facebook">
      <%= render :partial => 'monologue/posts/social/facebook' %>
    </li>
  </ul>
</div>
