<%= post.error_messages %>
<%= post.fields_for @revision do |revision| %>
  <%= revision.text_field :title, :label =>  t(".title"), :class =>  "span6" %>
  <%= revision.text_area :content, :label =>  t(".content"), :class =>  "span12 ckeditor" %>
  <%= revision.text_field :url, :label =>  raw(sprintf(t(".url.caption"), "#{DateTime.now.year}/#{t(".url.generated_title")}",monologue.root_path)) %>
  <%= revision.text_field :published_at, :label =>  t(".published_at"), :data => {:datepicker => "datepicker"}, :value => revision.object.published_at.nil? ? "" : revision.object.published_at.strftime("%Y-%m-%d") %>
<% end %>

<%= post.text_field :tag_list, :label =>  raw(t(".tags")),  :value => tag_list_for(post.object.tags)%>
<%= post.check_box :published, :label =>  t(".published") %>
<%= post.submit t(".save"), :class =>  "btn btn-large btn-primary" %> <a href="<%= @revision.full_url %>" target="_blank" class="btn btn-large"><%= t(".preview") %></a>

<script>
  if($.fn.datepicker.defaults_<%= I18n.locale %>){
    $.fn.datepicker.defaults = $.fn.datepicker.defaults_<%= I18n.locale %>;
  }
</script>