<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <%= render "layouts/monologue/application/head" %>
</head>
<body>
  <div class="container">
    <header class="main-header sixteen columns clearfix">
      <h1><a href="<%= root_path %>"><%=Monologue.site_name%></a></h1>
      <h2><%=Monologue.site_subtitle%></h2>
    </header>

    <div class="content twelve columns">
      <%= yield %>
    </div>

    <aside class="sidebar three columns">
      <% Monologue.sidebar.each do |ext| %>
        <%= render :partial => "monologue/extensions/sidebar/#{ext}" %>
      <% end %>
    </aside>


  </div>
  <footer>
    <%= yield :footer %>
  </footer>

  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = '<%= Monologue.disqus_shortname%>'; // required: replace example with your forum shortname

      <% if Rails.env.development?  %>
        var disqus_developer = 1; // developer mode is on
      <% end %>


      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
  </script>
</body>
</html>