<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? ((yield :title) + " | #{Monologue.site_name}") : Monologue.site_name  %>
  </title>
  <meta charset="utf-8" />
  <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : Monologue.meta_description  %>" />
  <meta name="keyword" content="<%=Monologue.meta_keyword%>">
    
  <%= stylesheet_link_tag    "monologue/blog/application" %>
  <%= javascript_include_tag "monologue/blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <h1><a href="<%= root_path %>"><%=Monologue.site_name%></a></h1>
    <h6><%=Monologue.site_subtitle%></h6>
    <%= yield %>
  </div>
</body>
</html>