<!DOCTYPE html>
<html>
<head>
  <title><%= Monologue.site_name %></title>
  <meta charset="utf-8" />
  <meta name="description" content="<%= Monologue.meta_description %>" />
  <meta name="keyword" content="<%=Monologue.meta_keyword%>">
    
  <%= stylesheet_link_tag    "monologue/blog/application" %>
  <%= javascript_include_tag "monologue/blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  
  <%= yield %>

</body>
</html>